<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="jumbotron" style="margin-top: -30px; text-align: center;">
        <h1><stong>PRETTY</stong> PALETTE</h1>
        <h4 style= "margin: 10px;">Pretty Palette is a simple website with one main objective: 
        to create a place for web designers and entrepreneurs a place to find soft pastel colours for their projects.
        </br>
        </br>
        These pastel colours were discovered from a wide range of soft images, as well as general discovery.
        </h4>
    </div>
    <div>
    <div class="row col-centered">
          <div class="col-md-4" style="text-align: center;">
              <i class="fa fa-laptop fa-5x" style="font-size: 200px;"></i>
              <h4>Make your website look amazing.</h4>
          </div>
          <div class="col-md-4" style="text-align: center;">
              <i class="fa fa-graduation-cap fa-5x" style="font-size: 200px;"></i>
              <h4>Find the best colour scheme for university assignments.</h4>
          </div>
          <div class="col-md-4" style="text-align: center;">
              <i class="fa fa-paint-brush fa-5x" style="font-size: 200px;"></i>
              <h4>Discover beautiful colours.</h4>
          </div>
    </div>
    </div>
</body>
</html>