<!DOCTYPE html>
<html>
<body>
<header>
    <div id="header" style="background-color: #779ecb; margin-top: -30px; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;;">Dark Pastel Blue<h6>#FCF3D9</h6></div>
    </div>
    <div id="header" style="background-color: #92B1D5; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;;">Polo Blue</h1><h6>#92B1D5</h6></div>
    </div>
    <div id="header" style="background-color: #A8C1DD; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;;">Light Steel Blue<h6>#A8C1DD</h6></div>
    </div>
    <div id="header" style="background-color: #DBE5F1; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;;">Solitude<h6>#DBE5F1</h6></div>
    </div>
    <div id="header" style="background-color: #B9CDE4; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;;">Tropical Blue<h6>#B9CDE4</h6></div>
    </div>
    <div id="header" style="background-color: #C7D7E9; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;;">Hawkes Blue<h6>#C7D7E9</h6></div>
    </div>
    <div id="header" style="background-color: #aec6cf; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;;">Pastel Blue<h6>#AEC6CF</h6></div>
    </div>
    <div id="header" style="background-color: #1B91D8; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;;">Pacific Blue<h6>#1B91D8</h6></div>
    </div>
</header>
</body>
</html>