<!DOCTYPE html>
<html>
<body>
<header>
    <div id="header" style="background-color: #65DC5F; margin-top: -30px; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">Pastel Green<h6>#65DC5F</h6></div>
    </div>
    <div id="header" style="background-color: #77E97E; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">Pastel Green Variant<h6>#77E97E</h6></div>
    </div>
    <div id="header" style="background-color: #BDECB6; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">Madang<h6>#BDECB6</h6></div>
    </div>
    <div id="header" style="background-color: #84CB8E; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;;">De York<h6>#84CB8E</h6></div>
    </div>
    <div id="header" style="background-color: #BEFEBA; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">Tea Green<h6>#BEFEBA</h6></div>
    </div>
    <div id="header" style="background-color: #98AC80; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">Olivine<h6>#98AC80</h6></div>
    </div>
    <div id="header" style="background-color: #9DD5A5; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">Chinook Red<h6>#9DD5A5</h6></div>
    </div>
    <div id="header" style="background-color: #3E7B4C; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">Killarney Variant<h6>#3E7B4C</h6></div>
    </div>
</header>
</body>
</html>