<!DOCTYPE html>
<html>
<body>
<head>
    <div>
        <div id="header" style="background-color: #FCF3D9; margin-top: -30px; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;;">Dawn<h6>#FCF3D9</h6></div>
        </div>
        <div id="header" style="background-color: #ECD3D0; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">Ice Vanilla<h6>#ECD3D0</h6></div>
        </div>
    </div>
        <div>
        <div id="header" style="background-color: #FDCCAA; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">Peach<h6>#FDCCAA</h6></div>
        </div>
    </div>
        <div>
        <div id="header" style="background-color: #D17387; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">Charm<h6>#D17387</h6></div>
        </div>
        <div>
        <div id="header" style="background-color: #5E79B7; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">Mantis<h6>#5E79B7</h6></div>
        </div>
    </div>
        <div>
        <div id="header" style="background-color: #646B90; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">Waikawa Grey<h6>#646B90</h6></div>
        </div>
    </div>
    
    <div>
        <div id="header" style="background-color: #F1F1C1; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">Spring<h6>#F1F1C1</h6></div>
        </div>
        <div id="header" style="background-color: #74529C; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">Studio<h6>#74529C</h6></div>
        </div>
    </div>
        <div>
        <div id="header" style="background-color: #D6B0F3; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">Mauve<h6>#D6B0F3</h6></div>
        </div>
    </div>
        <div>
        <div id="header" style="background-color: #F3EAFD; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">Mauve Fog<h6>#F3EAFD</h6></div>
        </div>
        <div>
        <div id="header" style="background-color: #BED599; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">Bean Sprout<h6>#BED599</h6></div>
        </div>
    </div>
        <div>
        <div id="header" style="background-color: #779379; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">Davy's Grey<h6>#779379</h6></div>
        </div>
        
            <div>
        <div id="header" style="background-color: #EAAFE5; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">French Lilac<h6>#EAAFE5</h6></div>
        </div>
        <div id="header" style="background-color: #D675BB; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">Orchid<h6>#D675BB</h6></div>
        </div>
    </div>
        <div>
        <div id="header" style="background-color: #AE257D; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">Medium Red Violet<h6>#AE257D</h6></div>
        </div>
        <div>
        <div id="header" style="background-color: #951558; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">Berry Jam Jazz<h6>#951558</h6></div>
        </div>
        <div>
        <div id="header" style="background-color: #5B000F; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">Pohutukawa<h6>#5B000F</h6></div>
        </div>
        
     <div>
        <div id="header" style="background-color: #1B91D8; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">Pacific Blue<h6>#1B91D8</h6></div>
        </div>
        <div id="header" style="background-color: #97D5B3; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">Vista Blue<h6>#97D5B3</h6></div>
        </div>
    </div>
        <div>
        <div id="header" style="background-color: #F084B7; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">Persian Pink<h6>#F084B7</h6></div>
        </div>
        <div>
        <div id="header" style="background-color: #EE4A57; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">Rad Red<h6>#EE4A57</h6></div>
        </div>
        <div>
        <div id="header" style="background-color: #F9B65B; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">Texas Rose<h6>#F9B65B</h6></div>
        </div>
    </div>
</head>
</body>
</html>