<!DOCTYPE html>
<html>
<body>
<header>
    <div id="header" style="background-color: #D4A5A8; margin-top: -30px; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;;">Pale Chestnut<h6>#D4A5A8</h6></div>
    </div>
    <div id="header" style="background-color: #D79292; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;;">Petite Orchid<h6>#D79292</h6></div>
    </div>
    <div id="header" style="background-color: #E6B29E; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;;">Wax Flower<h6>#E6B29E</h6></div>
    </div>
    <div id="header" style="background-color: #F2B7B8; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;;">Azalea<h6>#F2B7B8</h6></div>
    </div>
    <div id="header" style="background-color: #FF4F4B; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;;">Sunset Orange<h6>#FF4F4B</h6></div>
    </div>
    <div id="header" style="background-color: #FF7270; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;;">Salmon<h6>#FF7270</h6></div>
    </div>
    <div id="header" style="background-color: #FF0034; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;;">Torch Red<h6>#FF0034</h6></div>
    </div>
    <div id="header" style="background-color: #B52614; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;;">Fire Brick<h6>#B52614</h6></div>
    </div>
</header>
</body>
</html>