<!DOCTYPE html>
<html>
<body>
<header>
    <div id="header" style="background-color: #b8c3c7; margin-top: -30px; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">Heather<h6>#B8C3C7</h6></div>
    </div>
    <div id="header" style="background-color: #D7CDDC; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">Titan White</h1><h6>#D7CDDC</h6></div>
    </div>
    <div id="header" style="background-color: #EDD0FD; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">Blue Chalk<h6>#EDD0FD</h6></div>
    </div>
    <div id="header" style="background-color: #CECCCB; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">Mercury<h6>#CECCCB</h6></div>
    </div>
    <div id="header" style="background-color: #CFBED8; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">Prelude<h6>#CFBED8</h6></div>
    </div>
    <div id="header" style="background-color: #FFEDAE; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">Banana Mania<h6>#FFEDAE</h6></div>
    </div>
    <div id="header" style="background-color: #E6E6FA; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">Lavender<h6>#E6E6FA</h6></div>
    </div>
    <div id="header" style="background-color: #F2B7B1; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">Beauty Bush<h6>#F2B7B1</h6></div>
    </div>
    <div id="header" style="background-color: #EABCC4; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">Chantilly<h6>#EABCC4</h6></div>
    </div>
    <div id="header" style="background-color: #E7DBCB; height: 200px; position: relative;">
            <div id="header-content" style="position:absolute; bottom: 0; left: 0; font-size: 25px;">Half Spanish Light<h6>#E7DBCB</h6></div>
    </div>
</header>
</body>
</html>